<h3>Clients</h3>

<div class="columns large-3">
  <ul>
    {{#each}}
      <li>{{link-to name 'clients.client' this.id}}</li>
    {{/each}}
  </ul>
</div>

<div class="columns large-9">
  {{outlet}}
</div>
